body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif;
  background-color: #000000;
}

h1 {
  font-size: 4rem;
  color: #ffffff;
}

h2 {
  color: #ababab;
  font-size: 1.8rem;
  font-weight: normal;
}

h3 {
  font-weight: normal;
  font-size: 2.45vw;
}

svg {
  fill: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.headermain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.5rem;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  z-index: 20;
}

.headername {
  color: #ffffff;
  text-decoration: none;
  margin-left: 5%;
}

.headercontainer {
  width: 550px;
  margin-right: 5%;
}

.headerlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.headeritem {
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 15px;
}

.headeritem:hover {
  background-color: #007aff;
  color: white;
  text-decoration: none;
}

.intro {
  margin-top: 4.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  line-height: 0.2;
}

.memoji {
  width: 25%;
  margin-top: -4%;
}

.description {
  margin-top: -1.5%;
}

.pageview {
  margin-top: 3.5%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 4.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.imessage {
  background-color: #007aff;
  width: 100%;
  height: 300px;
  border-radius: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

.aboutinfo {
  margin-left: 6.8rem;
  margin-right: 6.8rem;
  color: white;
}

.abouthighlight {
  color: black;
  font-weight: 300;
}

.socialcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socialhandle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 255px;
  height: 90px;
  background-color: #1d1d1d;
  border-radius: 13px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialicon {
  width: 55px;
}

.socialinfo {
  line-height: 0.5;
  margin-left: 10px;
}

.socialapp {
  color: #ffffff;
}

.socialdo {
  color: #ababab;
}

.socialbutton {
  background-color: #34c759;
  text-decoration: none;
  color: #000000;
  padding: 3% 6% 3% 6%;
  border-radius: 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.socialbutton:hover {
  background-color: black;
}

.dock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1d1d;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dockicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3px;
  margin-right: 3px;
}

.docksquare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dockimage {
  height: 100%;
  width: 100%;
}

#arkitlogodock {
  -o-object-fit: cover;
     object-fit: cover;
}

#reactlogodock {
  height: 80%;
  width: 80%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

#djangologodock {
  height: 80%;
  width: 80%;
  border-radius: 15px;
}

#htmllogodock {
  height: 90%;
  width: 90%;
  border-radius: 15px;
}

#csslogodock {
  height: 65%;
  width: 57%;
}

#cpluspluslogodock {
  height: 85%;
  width: 85%;
  background-color: white;
  border-radius: 15px;
}

.dockdot {
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 10px;
}

.dockseper {
  width: 2px;
  height: 50px;
  background-color: #ffffff;
  opacity: 20%;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.docksquare:hover {
  -webkit-filter: drop-shadow(0px 2px 3px #ababab);
          filter: drop-shadow(0px 2px 3px #ababab);
}

.notificationcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  height: 65px;
  background-color: #1d1d1d;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.notificationinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillicon {
  width: 50px;
}

.skillinfo {
  line-height: 0.3;
  margin-left: 10px;
}

.skillname {
  color: #ffffff;
  font-weight: 600;
}

.skilldetail {
  color: #ffffff;
}

.skillprogress {
  color: #ababab;
  margin-top: 4%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#jsimage {
  width: 12%;
  border-radius: 10px;
  margin-left: 5px;
}

#leetimage {
  width: 12%;
  border-radius: 10px;
  margin-left: 5px;
  background-color: white;
}

#sfimage {
  width: 12%;
  border-radius: 10px;
  margin-left: 5px;
}

.notification:hover {
  background-color: #000000;
}

.projectcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 355px;
  height: 410px;
  background-color: #1d1d1d;
  border-radius: 34px;
  padding-bottom: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.projectimage {
  width: 100%;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
}

#prokioskimage {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#dsalgoimage {
  height: 59%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projectdetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
}

.projectinfo {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.projectname {
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
}

.projectdes {
  font-size: 12px;
  margin-top: -8%;
  color: #ffffff;
}

.projectbutton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #007aff;
  text-decoration: none;
  font-weight: 600;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 4% 6% 4% 6%;
  border-radius: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.projectbutton:hover {
  background-color: black;
  color: white;
}

.projectsep {
  width: 78%;
  height: 1px;
  background-color: #ababab;
  opacity: 20%;
  margin-top: 5px;
  margin-bottom: 7px;
}

.languageinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 10px;
  margin-left: 20px;
}

.languageicon {
  width: 50px;
}

.languagedes {
  line-height: 0.3;
  margin-left: 10px;
}

.built {
  color: #ababab;
  font-weight: 500;
  font-size: 11px;
}

.languagename {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}

.skillprogress {
  color: #ababab;
  margin-top: 4%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#cpluspluslogoproject {
  width: 12%;
  height: 90%;
  border-radius: 10px;
  background-color: white;
}

.downloadcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}

.graymarker {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ababab;
}

.optext {
  color: #ababab;
  background-color: #242424;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15%;
  padding-right: 15%;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.optext:hover {
  background-color: #34c759;
  color: green;
}

.bluedownloadbutton {
  color: white;
  font-size: 35px;
  background-color: #007aff;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 27%;
  padding-right: 27%;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 35px;
}

.bluedownloadbutton:hover {
  background-color: #ffffff;
  color: #000000;
}

.emailme {
  color: #ababab;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.emailme:hover {
  color: #34c759;
}

.whitedownloadbutton {
  color: #ffffff;
  font-size: 35px;
  background-color: #1d1d1d;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 27%;
  padding-right: 27%;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 35px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.whitedownloadbutton:hover {
  background-color: #ffffff;
  color: #000000;
}

.seperator {
  height: 5px;
  width: 100%;
  background-color: #242424;
  margin-top: 25px;
  border-radius: 20px;
}

.footermain {
  margin-top: -6%;
  margin-left: 7%;
  margin-right: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footeritem {
  font-size: 25px;
  color: #ababab;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footeritem:hover {
  color: #ffffff;
}
/*# sourceMappingURL=dark.css.map */